


<mat-toolbar>
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg" alt="rickandmorty-logo" width="10%" >

  <span>Character of Rick and Morty</span>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>copyright</mat-icon>
  </button>

  <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
    <span>Characters</span>
  </button>
  <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
    <span>Episodes</span>
  </button>
</mat-toolbar>
